$white: #ffffff
$almost-black: #0f1112
$cool-grey: #a7a9ac
$brawnish-grey: #666666
$dark-grey: #22272b
$desert: #ccac5b

$header-font-color: #0f0f0f

$background-color: $white
$header-background-color: $almost-black

$footer-background-color: $dark-grey

// .container
//   display: flex
//   flex-wrap: wrap
//   max-width: 1200px
//   margin: 2rem


// .col
//   flex-grow: 1;
//   flex-basis: 100%;
//   padding-left: 1rem;
//   padding-right: 1rem;
